body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    margin:10px 0 20px 0;
    padding: 10px 0;
    text-align: center;
}

.search-section {
    margin-bottom: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-right: 10px;
}
#searchButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.results-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#resultList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}