body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.calendar-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    font-weight: bold;
    padding: 10px 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.days div {
    padding: 12px 0;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.days div:hover {
  background: #e0e0e0;
}

.today {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.hidden {
  display: none;
}
